body {
    background-color: white;
    color: #890312;
    margin: 0;
    border: 0;
    font-family: sans-serif;
    padding: 0 7ex 0 7ex;
}

div#bk-index {
    color: #e78783;
}

footer {
    font-size: xx-small;
    text-align: right;
}
